body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

#output, #admin-output {
    font-family: Consolas, monospace;
	height: 320px;
	max-height: 320px;
    word-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
}

#admin-output {
    font-family: Consolas, monospace;
    border: 1px solid #000000;
    text-align: left;
    word-wrap: normal;
    overflow-y: auto;
    overflow-x: hidden;
}
