body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

#output, #admin-output {
	height: 320px;
	max-height: 320px;
	overflow: auto;
}

#admin-output {
    border: 1px solid #000000;
    text-align: left;
}
