body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

#letter-container {
    display: none;
}

#stickman{
    display: none;
    padding: 20px;
    border: 2px solid #333333;
    border-radius: 4px;
}